# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\giri-demo\giridemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
